[global]
runtime=60
direct=1
directory=./
rwmixwrite=33
filesize=1G
readwrite=randrw
loops=5

[job0.0]
numjobs=1
blocksize=1K
filename=bench

[job1.0]
numjobs=1
blocksize=2K
filename=bench

[job2.0]
numjobs=1
blocksize=4K
filename=bench

[job3.0]
numjobs=1
blocksize=8K
filename=bench

[job4.0]
numjobs=1
blocksize=16K
filename=bench

[job5.0]
numjobs=1
blocksize=32K
filename=bench

[job6.0]
numjobs=1
blocksize=64K
filename=bench

[job7.0]
numjobs=1
blocksize=128K
filename=bench

[job8.0]
numjobs=1
blocksize=256K
filename=bench

[job9.0]
numjobs=1
blocksize=512K
filename=bench

[job10.0]
numjobs=1
blocksize=1024K
filename=bench

