[global]
runtime=60
direct=0
directory=./
rwmixwrite=33
filesize=1G
readwrite=randrw
loops=5

[job0.0]
numjobs=2
blocksize=1K
filename=bench
bssplit=

[job1.0]
numjobs=2
blocksize=2K
filename=bench
bssplit=

[job2.0]
numjobs=2
blocksize=4K
filename=bench
bssplit=

[job3.0]
numjobs=2
blocksize=8K
filename=bench
bssplit=

[job4.0]
numjobs=2
blocksize=16K
filename=bench
bssplit=

[job5.0]
numjobs=2
blocksize=32K
filename=bench
bssplit=

[job6.0]
numjobs=2
blocksize=64K
filename=bench
bssplit=

[job7.0]
numjobs=2
blocksize=128K
filename=bench
bssplit=

[job8.0]
numjobs=2
blocksize=256K
filename=bench
bssplit=

[job9.0]
numjobs=2
blocksize=512K
filename=bench
bssplit=

[job10.0]
numjobs=2
blocksize=1024K
filename=bench
bssplit=

