[global]
runtime=60
direct=0
directory=./
blocksize=16K
filesize=1G
readwrite=rw
loops=5

[job0.0]
numjobs=1
rwmixwrite=0.0
filename=bench

[job1.0]
numjobs=1
rwmixwrite=12.5
filename=bench

[job2.0]
numjobs=1
rwmixwrite=25.0
filename=bench

[job3.0]
numjobs=1
rwmixwrite=37.5
filename=bench

[job4.0]
numjobs=1
rwmixwrite=50.0
filename=bench

[job5.0]
numjobs=1
rwmixwrite=62.5
filename=bench

[job6.0]
numjobs=1
rwmixwrite=75.0
filename=bench

[job7.0]
numjobs=1
rwmixwrite=87.5
filename=bench

[job8.0]
numjobs=1
rwmixwrite=100.0
filename=bench

